<h3>가게부 내역</h3>
<% unless @pages.empty? %>
  <% @pages.each do |page| %>
    <dl>
      <dt>내역</dt>
      <dd><%= page.amount %></dd>
    </dl>
    <dl>
      <dt>설명</dt>
      <dd><%= page.note %></dd>
    </dl>
  <% end %>
<% else %>
  <p>가게부 내역이 없습니다.</p>
<% end %>