<h3>HouseKeep</h3>

<ul>
  <li><%= link_to "Login with Twitter", 'auth/twitter' %></li>
  <li><%= link_to "Login with Facebook", 'auth/facebook' %></li>
  <li><%= link_to "Login with Google", 'auth/google_oauth2' %></li>
</ul>