<% unless @pages.empty? %>
  <table>
    <tr>
      <th>수입</th>
      <th>지출</th>
      <th>내역</th>
    </tr>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.income? ? number_to_currency(page.amount) : '' %></td>
        <td><%= page.expense? ? number_to_currency(page.amount) : '' %></td>
        <td><%= page.note %></td>
      </tr>
    <% end %>
  </table>
  <p>총합: <%= number_to_currency @pages.total %></p>
<% else %>
  <p>가게부 내역이 없습니다.</p>
<% end %>