h1 {
  margin-left: 5px;
  margin-bottom: 20px;
}

.housekeep-containter {
  width: 560px;

  h3 {
    margin-left: 5px;
    float: left;
  }

  #housekeep-list {
    margin-top: 30px;
  }

  .header {
    margin-bottom: 10px;
  }

  .new-page {
    float: right;
    margin-left: 0px;
    margin-right: 15px;
    width: 95px;
  }

  table {
    th, td {
     text-align: center;
    }

    .transacted-at {
      min-width: 120px;
    }

    .income {
      min-width: 80px;
    }

    .expense {
      min-width: 80px;
    }

    .note {
      min-width: 80px;
    }

    .menu {
      min-width: 120px;

      a {
        width: 40px;
      }
    }

    .total {
      text-align: center;
    }
  }

  .total {
    text-align: right;
    margin-right: 16px;
    margin-bottom: 30px;
  }
}

.clear {
  clear: both;
}